<div class="col-md-12 white-text text-center">

    <div id="countDown" class=" row text-center mt-2 wow fadeInDown" data-wow-delay="0.3s">

        <div class="col-md-3">
            <div id="days" class="cdText "></div>
        </div>
        <div class="col-md-3">
            <div id="hours" class="cdText "></div>
        </div>
        <div class="col-md-3">
            <div id="minutes" class="cdText "></div>
        </div>

        <div class="col-md-3">
            <div id="seconds" class="cdText "></div>
        </div>

    </div>
</div>