<div class="col-md-12 white-text text-center">

    <div id="countDown" class=" row text-center mt-2 wow fadeInDown" data-wow-delay="0.8s">

        <div class="col-12">
            <div id="days" class="cdText "></div>

            <div id="hours" class="cdText "></div>

            <div id="minutes" class="cdText "></div>

            <div id="seconds" class="cdText "></div>


        </div>

    </div>
</div>