<div class="col-md-12 white-text text-center">

    <div id="countDown" class="text-center mt-2 wow fadeInDown" data-wow-delay="0.3s">
        <div id="days" class="cdText mx-3"></div>
        <div id="hours" class="cdText mx-3"></div>
        <div id="minutes" class="cdText mx-3"></div>
        <div id="seconds" class="cdText mx-3"></div>
    </div>
</div>