<div class="container mb-5" style="min-height: 50vh">

    <div class="row mb-5 pb-5">
        <div class="col-md-12">

            <div class="card-deck">

                <div class="card p-0 md-4 mb-2 wow fadeInLeft" data-wow-delay="0.6s">
                    <img class="card-img-top" src="/img/wormsloe.jpg" alt="Card image cap" height="250px">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                    <div class=" card-body">
                        <h3 style="font-weight:bold">Ceremony</h3>
                        <hr>
                        <h4>5:00 PM, Sunday</h4>
                        <h4>Wormsloe Plantation</h4>
                        <h4>
                            <a href="https://goo.gl/maps/BgjWEMkhDzH2">Directions</a>
                        </h4>
                    </div>



                </div>


                <div class="card md-4 p-0 mb-2 wow fadeInLeft" data-wow-delay="0.4s"> <img class="card-img-top" src="/img/syc.jpg"
                        alt="Card image cap" height="250px">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>
                    <div class=" card-body">
                        <h3 style="font-weight:bold">Reception</h3>
                        <hr>
                        <h4>6:30 PM, Sunday</h4>
                        <h4>Savannah Yacht Club</h4>
                        <h4>
                            <a href="https://goo.gl/maps/v2btPBoMT622">Directions</a>
                        </h4>
                    </div>
                </div>
                <div class="card md-4 wow fadeInLeft" data-wow-delay="0.2s">
                    <div class="card-body">
                        <h4>Shuttle Buses</h4>
                        <hr>
                        <p>To make navigation easier, we have arranged for buses leaving from the Desoto Hotel. They will
                            bring guests to the ceremony, reception, and back downtown. <strong>We have limited seats so
                                please email

                                <a href="mailto:jeff@brainchild.com?Subject=Wedding Transportaion">
                                    Jeff Cameron Sr. </a> as soon as possible </strong>if you would like a ride!</p>
                    </div>

                </div>




            </div>

        </div>


    </div>
</div>