<div class="container mb-5" style="height: 100vh">

    <div class="row mb-5 pb-5">

        <div class="card col-md-4 mr-2 ml-auto mb-2">

            <img class="card-img-top" src="/img/wormsloe.jpg" alt="Card image cap" height="250px">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
            <div class=" card-body">
                <h3 style="font-weight:bold">Ceremony</h3>
                <hr>
                <h4>5:00 PM, Sunday</h4>
                <h4>Wormsloe Plantation</h4>
                <h4>
                    <a href="https://goo.gl/maps/BgjWEMkhDzH2">Directions</a>
                </h4>
            </div>



        </div>


        <div class="card col-md-4 mr-auto mb-5">
            <img class="card-img-top" src="/img/syc.jpg" alt="Card image cap" height="250px">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
            <div class=" card-body">
                <h3 style="font-weight:bold">Reception</h3>
                <hr>
                <h4>6:30 PM, Sunday</h4>
                <h4>Savannah Yacht Club</h4>
                <h4>
                    <a href="https://goo.gl/maps/v2btPBoMT622">Directions</a>
                </h4>
            </div>
        </div>




    </div>


</div>