<div class="container" style="min-height: 50vh">


    <div class="row">

        <div class="col-md-12">

            <div class="card-deck mb-5 pb-5">

                <div class="card mb-4 md-4 wow fadeInLeft" data-wow-delay="0.6s">

                    <img class="card-img-top" src="/img/mansion.jpg" alt="Card image cap" height="250px">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>

                    <div class="card-body">
                        <h3>The Mansion</h3>
                        <p><a href="https://goo.gl/maps/zX4JpAfLZbS2">700 Drayton St, Savannah, GA 31401</a> </p>
                        <hr> Price: <span>
                            <i class="fas fa-dollar-sign " style=" color: black "></i>
                            <i class="fa fa-dollar-sign "></i>
                            <i class="fa fa-dollar-sign "></i>
                            <i class="fa fa-dollar-sign "></i>
                            <h4><a href="https://www.marriott.com/hotels/travel/savad-mansion-on-forsyth-park-autograph-collection/?scid=bb1a189a-fec3-4d19-a255-54ba596febe2">Website</a></h4>
                        </span>
                        <hr>
                        <p>
                            This luxury hotel is situated in Forsyth Park in Savannah. It has a heated outdoor pool, and offers spacious rooms with marble
                            bathrooms, and luxury bedding.
                        </p>

                    </div>
                </div>



                <div class="card mb-4 md-4 wow fadeInLeft" data-wow-delay="0.4s">

                    <img class="card-img-top" src="/img/desoto.jpg" alt="Card image cap" height="250px">
                    <a href="#!">
                        <div class="mask rgba-white-slight"></div>
                    </a>

                    <div class=" card-body">
                        <h3> The Desoto </h3>
                        <p><a href="https://goo.gl/maps/VMpC8nrLSPJ2">15 E Liberty, Savannah, GA 31401</a></p>
                        <hr> Price: <span>
                            <i class="fas fa-dollar-sign " style=" color: black "></i>
                            <i class="fa fa-dollar-sign "></i>
                            <i class="fa fa-dollar-sign "></i>
                            <h4><a href="https://www.thedesotosavannah.com/ ">Website</a></h4>
                            <hr> The wedding party will be staying at the Desoto, and buses to the ceremony & receptions
                            will leave from here.

                    </div>

                </div>




                <div class="card mb-4 sm-12 wow fadeInLeft" data-wow-delay="0.2s">

                    <img class="card-img-top " src="/img/fairfield.jpg " alt="Card image cap " height="250px ">
                    <a href="#! ">
                        <div class="mask rgba-white-slight "></div>
                    </a>

                    <div class=" card-body ">
                        <h3> Fairfield Inn</h3>
                        <p><a href="https://goo.gl/maps/KoDEd4kcbp42">135 Martin Luther King Jr Blvd, Savannah, GA 31401</a></p>
                        <hr> Price: <span>
                            <i class="fas fa-dollar-sign " style=" color: black "></i>
                            <i class="fa fa-dollar-sign "></i>
                            <h4>
                                <a href="https://www.marriott.com/hotels/travel/savfd-fairfield-inn-and-suites-savannah-downtown-historic-district// ">Website</a></h4>
                            <hr>
                            <p>
                                The Fairfield Inn & Suites by Marriott is located in the Savannah historic district. Built in 2017, this 3-star hotel is
                                within 900 feet of Franklin Square and 1,200 feet of Savannah History Museum.
                            </p>

                    </div>
                </div>





            </div>

        </div>


    </div>
</div>