<span style="font-size:30px;cursor:pointer; background-color: transparent; position: fixed;
    z-index: 1500; color:black; padding: 30px;" onclick="openNav()">&#9776;
    <img src="img/logo.png" style="width: 110px; height: auto"> </span>