<div class="container justify-content-center" style="min-height: 100vh">
    <div class="row">
        <div class="col-md-3 mb-2 ">
            <div class="card mb-1">
                <div class="card-body">
                    <h4>Map</h4>
                    <hr>
                    <p>We have marked important locations on the map. Click the square in the top right to view locations
                        and get directions.
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h4>Shuttle Buses</h4>
                    <hr>
                    <p>To make navigation easier, we have arranged for buses leaving from the Desoto Hotel. They will bring
                        guests to the ceremony, reception, and back downtown. We have limited seats so email
                        <a href="mailto:jeff@brainchild.com?Subject=Wedding Transportaion">
                            Jeff Cameron Sr. </a> if you would like a ride!</p>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <iframe class="z-depth-1-half" src="https://www.google.com/maps/d/u/0/embed?mid=1sv8EeyvNnsVrDs2Xhq9--eI3qrYx2VAw" style="height: 60vh; width: 100%; margin-left: auto; margin-right: auto"
                class="mr-auto">
            </iframe>
        </div>

    </div>


</div>