<div class="container justify-content-center" style="height: 100vh">
    <div class="row">

        <div class="col-md-9">
            <iframe class="z-depth-1-half" src="https://www.google.com/maps/d/u/0/embed?mid=1sv8EeyvNnsVrDs2Xhq9--eI3qrYx2VAw" style="height: 60vh; width: 70vw; margin-left: auto; margin-right: auto"
                class="mr-auto">
            </iframe>
        </div>
        <div class="col-md-3">
            <div class="card">
                <div class="card-body">
                    <h3>Shuttle Buses</h3>
                    <hr>
                    <p>To make navigation easier, we have arranged for buses leaving from the Desoto Hotel. They will bring
                        guests to the ceremony, reception, and back downtown. Please email we have limited seats so email
                        <a href="mailto:jeff@brainchild.com?Subject=Wedding Transportaion">
                            Jeff Cameron Sr. </a> if you would like a ride!</p>
                </div>
            </div>
        </div>
    </div>


</div>