<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a style="margin-top: 40px " href="/">Home</a>
    <a href="/events ">Events</a>
    <a href="/locations ">Locations</a>
    <a href="/hotels ">Accomodations</a>
    <a href="/guestbook ">Guestbook</a>
    <a href="/registry ">Registry</a>
</div>