<div class="container mb-5" style="min-height: 50vh">
    <div class="row mt-3">
        <h4>
            We have registered at Amazon, Pottery Barn, and Bed, Bath, & Beyond. Click on "Browse" to view each registry.
        </h4>

    </div>
    <hr>
    <div class="card-deck wow fadeInUp " data-wow-delay="0.3s">
        <div class="card">
            <img class="card-img-top" src="/img/amazon.png" alt="Card image cap" height="250px">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
            <div class=" card-body">
                <h3>Amazon</h3>
                <h4><a href="https://www.amazon.com/wedding/share/ashley-jeff">Browse</a></h4>
            </div>
        </div>

        <div class="card ">

            <img class="card-img-top" src="/img/pottery.jpeg" alt="Card image cap" height="250px">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>

            <div class="card-body">

                <h3>Pottery Barn</h3>
                <h4><a href="https://www.potterybarn.com/registry/7zqlbvm9k7/registry-list.html">Browse</a></h4>
            </div>

        </div>


        <div class="card mb-4">

            <img class="card-img-top" src="/img/bbb.jpg" alt="Card image cap" height="250px">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>

            <div class="card-body">
                <h3>Bed, Bath, & BEYOND</h3>
                <h4><a href="https://www.bedbathandbeyond.com:443/store/giftregistry/view_registry_guest.jsp?registryId=546243365&eventType=Wedding&pwsurl=">Browse</a></h4>
            </div>
        </div>




    </div>
</div>