 {{>_navbar}} {{>_logo}}


<header id="collapse">

    <div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url('img/DSC_4382.jpg'); background-repeat: no-repeat; background-size: contain; background-position: center;">


        <!-- Mask & flexbox options-->
        <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">
            <!-- Content -->
            <div class="container">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12 white-text text-center">
                        <h1 class="display-3 pt-md-5 white-text font-weight-bold wow fadeInDown" style="font-family: 'Great Vibes', cursive; letter-spacing: 10px;"
                            data-wow-delay="0.3s">Locations
                        </h1>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->


            </div>
            <!-- Content -->
        </div>
        <!-- Mask & flexbox options-->
    </div>
</header>
<div class="container" id="collapse">
    <div class="row">
        <div class="card">

        </div>
        <h1>Locations</h1>
        <p>On the day of the ceremony, a shuttle will be available.</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body">
                <h4>Airport</h4>
            </div>
            <div class="card card-body">
                <h4>Hotels</h4>
            </div>
            <div class="card card-body">
                <h4>Ceremony</h4>
            </div>
            <div class="card card-body">
                <h4>Reception</h4>
            </div>
        </div>
        <div class="col-md-6">
            {{>_map}}
        </div>
    </div>

</div>

<div id="collapse2" class="accordion accordion-3 z-depth-1-half" id="accordionEx1" role="tablist" aria-multiselectable="true">

    <ul class="list-unstyled d-flex justify-content-center pt-5 red-text">
        <li>
            <i class="fa fa-anchor mr-3 fa-2x" aria-hidden="true"></i>
        </li>
        <li>
            <i class="fa fa-life-saver mr-3 fa-2x" aria-hidden="true"></i>
        </li>
        <li>
            <i class="fa fa-star-o fa-2x" aria-hidden="true"></i>
        </li>
    </ul>

    <h2 class="text-center text-uppercase red-text py-4 px-3">Hello my friends, I am the nicest accordion!</h2>

    <hr class="mb-0">

    <!-- Accordion card -->
    <div class="card">

        <!-- Card header -->
        <div class="card-header" role="tab" id="heading4">
            <a data-toggle="collapse" data-parent="#accordionEx1" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
                <h3 class="mb-0 mt-3 red-text">
                    How awesome accordion I am?
                    <i class="fa fa-angle-down rotate-icon fa-2x"></i>
                </h3>
            </a>
        </div>

        <!-- Card body -->
        <div id="collapse4" class="collapse show" role="tabpanel" aria-labelledby="heading4" data-parent="#accordionEx1">
            <div class="card-body pt-0">
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
                    officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                    3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                    et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                    synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
            </div>
        </div>
    </div>
    <!-- Accordion card -->

    <!-- Accordion card -->
    <div class="card">

        <!-- Card header -->
        <div class="card-header" role="tab" id="heading5">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                <h3 class="mb-0 mt-3 red-text">
                    You're the greatest accordion!
                    <i class="fa fa-angle-down rotate-icon fa-2x"></i>
                </h3>
            </a>
        </div>

        <!-- Card body -->
        <div id="collapse5" class="collapse" role="tabpanel" aria-labelledby="heading5" data-parent="#accordionEx1">
            <div class="card-body pt-0">
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
                    officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                    3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                    et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                    synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
            </div>
        </div>
    </div>
    <!-- Accordion card -->

    <!-- Accordion card -->
    <div class="card">

        <!-- Card header -->
        <div class="card-header" role="tab" id="heading6">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                <h3 class="mb-0 mt-3 red-text">
                    Thank you my dear!
                    <i class="fa fa-angle-down rotate-icon fa-2x"></i>
                </h3>
            </a>
        </div>

        <!-- Card body -->
        <div id="collapse6" class="collapse" role="tabpanel" aria-labelledby="heading6" data-parent="#accordionEx1">
            <div class="card-body pt-0">
                <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon
                    officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch
                    3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch
                    et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                    Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic
                    synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.</p>
            </div>
        </div>
    </div>
    <!-- Accordion card -->
</div>
<!--/.Accordion wrapper-->