 {{>_navbar}} {{>_logo}}
<header id="collapse">

    <div class="view jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url('img/DSC_4250.jpg'); background-repeat: no-repeat; background-size: contain; background-position: center;">


        <!-- Mask & flexbox options-->
        <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">
            <!-- Content -->
            <div class="container">

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-md-12 white-text text-center">
                        <h1 class="display-3 pt-md-5 white-text font-weight-bold wow fadeInDown" style="font-family: 'Great Vibes', cursive; letter-spacing: 10px;"
                            data-wow-delay="0.3s">Guestbook
                        </h1>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->


            </div>
            <!-- Content -->
        </div>
        <!-- Mask & flexbox options-->
    </div>
</header>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1>Guestbook</h1>
            <div id="guestbook" style="height: 400px; width: 400px; background-color:azure;">

            </div>
        </div>
    </div>
</div>