 {{>_navbar}} {{>_logo}}

<header class="collapse">

    <div class="view" style="background-image: url('img/DSC_4382.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center;">


        <!-- Mask & flexbox options-->
        <div class="mask rgba-black-strong d-flex justify-content-center align-items-center">
            <!-- Content -->
            <div class="container mt-5 pt-5">
                <div class="row">
                    <div class="col-md-6">
                        <div class="accordion accordion-3 z-depth-1-half" id="accordionEx1" role="tablist" aria-multiselectable="true">

                            <hr class="mb-0">

                            <!-- Accordion card -->
                            <div class="card">

                                <!-- Card header -->
                                <div class="card-header" role="tab" id="heading4">
                                    <a data-toggle="collapse" data-parent="#accordionEx1" href="#collapse4" aria-expanded="true" aria-controls="collapse4">
                                        <h3 class="mb-0 mt-3 red-text">
                                            Airport
                                            <i class="fa fa-angle-down rotate-icon fa-2x"></i>
                                        </h3>
                                    </a>
                                </div>

                                <!-- Card body -->
                                <div id="collapse4" class="collapse show" role="tabpanel" aria-labelledby="heading4" data-parent="#accordionEx1">
                                    <div class="card-body pt-0">
                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson
                                            ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food
                                            truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                                            put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil
                                            anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                                            ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                            farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
                                            of them accusamus labore sustainable VHS.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Accordion card -->

                            <!-- Accordion card -->
                            <div class="card">

                                <!-- Card header -->
                                <div class="card-header" role="tab" id="heading5">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapse5" aria-expanded="false" aria-controls="collapse5">
                                        <h3 class="mb-0 mt-3 red-text">
                                            Hotels
                                            <i class="fa fa-angle-down rotate-icon fa-2x"></i>
                                        </h3>
                                    </a>
                                </div>

                                <!-- Card body -->
                                <div id="collapse5" class="collapse" role="tabpanel" aria-labelledby="heading5" data-parent="#accordionEx1">
                                    <div class="card-body pt-0">
                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson
                                            ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food
                                            truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                                            put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil
                                            anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                                            ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                            farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
                                            of them accusamus labore sustainable VHS.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Accordion card -->

                            <!-- Accordion card -->
                            <div class="card">

                                <!-- Card header -->
                                <div class="card-header" role="tab" id="heading6">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                        <h3 class="mb-0 mt-3 red-text">
                                            Ceremony
                                            <i class="fa fa-angle-down rotate-icon fa-2x"></i>
                                        </h3>
                                    </a>
                                </div>

                                <!-- Card body -->
                                <div id="collapse6" class="collapse" role="tabpanel" aria-labelledby="heading6" data-parent="#accordionEx1">
                                    <div class="card-body pt-0">
                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson
                                            ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food
                                            truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                                            put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil
                                            anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                                            ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                            farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
                                            of them accusamus labore sustainable VHS.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="card">

                                <!-- Card header -->
                                <div class="card-header" role="tab" id="heading6">
                                    <a class="collapsed" data-toggle="collapse" data-parent="#accordionEx1" href="#collapse6" aria-expanded="false" aria-controls="collapse6">
                                        <h3 class="mb-0 mt-3 red-text">
                                            Reception
                                            <i class="fa fa-angle-down rotate-icon fa-2x"></i>
                                        </h3>
                                    </a>
                                </div>

                                <!-- Card body -->
                                <div id="collapse6" class="collapse" role="tabpanel" aria-labelledby="heading6" data-parent="#accordionEx1">
                                    <div class="card-body pt-0">
                                        <p>Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson
                                            ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food
                                            truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua
                                            put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil
                                            anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente
                                            ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer
                                            farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
                                            of them accusamus labore sustainable VHS.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Accordion card -->
                        </div>
                        <!--/.Accordion wrapper-->
                    </div>
                    {{!-- col --}}
                    <div class="col-md-6 sm-12 mt-3 mr-auto d-flex justify-content-center align-items-center">

                        {{>_map}}

                    </div>
                </div>
                {{!-- row --}}
            </div>
            {{!-- container --}}
            <!-- Content -->
        </div>
        <!-- Mask & flexbox options-->
    </div>
</header>
<div class="container" class="collapse">
    <div class="row">
        <div class="card">

        </div>
        <h1>Locations</h1>
        <p>On the day of the ceremony, a shuttle will be available.</p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card card-body">
                <h4>Airport</h4>
            </div>
            <div class="card card-body">
                <h4>Hotels</h4>
            </div>
            <div class="card card-body">
                <h4>Ceremony</h4>
            </div>
            <div class="card card-body">
                <h4>Reception</h4>
            </div>
        </div>
        <div class="col-md-6">
            {{>_map}}
        </div>
    </div>

</div>