html,
body,
header,
.view {
  height: 100%;
}

#collapse {
  transition: background-color .5s;
  transition: margin-left .5s;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.rgba-gradient {
  background: -moz-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
  background: -webkit-linear-gradient(45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
  background: linear-gradient(to 45deg, rgba(213, 15, 61, 0.6), rgba(13, 17, 198, 0.69) 100%);
}

.cdText {
  display: inline-block;
  width: 100px;
  height: 100px;
  border: 2px solid #e7a61a;
  border-radius: 200px;
  padding: 23px;
  text-align: center;
  font-size: 1.4em;
  font-family: Great Vibes;
  margin-top: 20px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-width: 500px) {
  h1 {
    font-size: 2.2em !important;
    letter-spacing: 5px !important;
    margin-top: 50px;
  }
  .sidenav a {
    font-size: 18px;
  }
}